<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ваша корзина</h1>
    {% if cart %}
        <ul>
            {% for item in cart %}
                <li>
    {{ item.name }} — {{ item.price }} 💎
    <a href="{{ url_for('remove_from_cart', product_id=item.id) }}">Удалить</a>
</li>

            {% endfor %}
        </ul>
        <p><strong>Итого:</strong> {{ total }}💎</p>

        <h2>Оформление заказа</h2>
        <form method="post" action="{{ url_for('checkout') }}">
            <label>Имя: <input type="text" name="name" required></label><br>
            <label>Номер карты: <input type="text" name="name" required></label><br>
            <label>3 цифры с оборота: <input type="text" name="address" required></label><br>
            <button type="submit">Оформить заказ</button>
        </form>
    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
    <p><a href="{{ url_for('home') }}">Назад в магазин</a></p>
</body>
</html>
